@custom-media --viewportRange-landscape (orientation: landscape);
@custom-media --viewportRange-narrow (max-width: calc(48rem - 0.02px));
@custom-media --viewportRange-narrowLandscape ((max-width: calc(63.25rem - 0.02px)) and (max-height: calc(34rem - 0.02px)) and (orientation: landscape));
@custom-media --viewportRange-portrait (orientation: portrait);
@custom-media --viewportRange-regular (min-width: 48rem);
@custom-media --viewportRange-wide (min-width: 87.5rem);
.nav {
    font-family: var(--brand-body-fontFamily, var(--fontStack-sansSerif));
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media (min-width: 1012px) {
        display: flex;
    }
}

/* Using .nav overrides NavLink styles used in the dropdown */

.nav .navLink {
    color: var(--brand-color-text-default, var(--fgColor-default));
    font-size: var(--brand-text-title-size-medium);
    font-weight: var(--base-text-weight-semibold);
    padding: var(--base-size-12) 0;
    white-space: nowrap;
    &:hover {
        color: var(--brand-color-text-default, var(--fgColor-default));
    }
    &:focus-visible {
        outline: 2px solid;
        outline-offset: 0;
        border-radius: var(--brand-borderRadius-small);
    }
    @media (min-width: 1012px) {
        color: var(--brand-color-text-onEmphasis, var(--fgColor-white));
        font-size: var(--brand-text-body-size-large);
        font-weight: var(--base-text-weight-normal);
        padding: var(--base-size-8);
        &:hover {
            color: var(--brand-color-text-onEmphasis, var(--fgColor-white));
            opacity: 0.75;
        }
    }
}

:global(.header-white) .navLink {
    @media (min-width: 1012px) {
        color: var(--brand-color-text-default, var(--fgColor-default));
        &:hover {
            color: var(--brand-color-text-muted, var(--fgColor-muted));
            opacity: 1;
        }
    }
}