@custom-media --viewportRange-landscape (orientation: landscape);
@custom-media --viewportRange-narrow (max-width: calc(48rem - 0.02px));
@custom-media --viewportRange-narrowLandscape ((max-width: calc(63.25rem - 0.02px)) and (max-height: calc(34rem - 0.02px)) and (orientation: landscape));
@custom-media --viewportRange-portrait (orientation: portrait);
@custom-media --viewportRange-regular (min-width: 48rem);
@custom-media --viewportRange-wide (min-width: 87.5rem);
.group {
    display: flex;
    flex-direction: column;
    gap: var(--base-size-24);
    @media (min-width: 1012px) {
        height: 100%;
    }
    @media (min-width: 1012px) and (max-width: 1279px) {
        max-width: 220px;
    }
    @media (min-width: 1280px) {
        min-width: 200px;
        max-width: 285px;
    }
}

.hasSeparator {
    border-top: var(--brand-borderWidth-thin) solid var(--brand-color-border-muted, var(--borderColor-muted));
    padding-top: var(--base-size-32);
    @media (min-width: 1012px) {
        border-left: var(--brand-borderWidth-thin) solid var(--brand-color-border-muted, var(--borderColor-muted));
        border-top: 0;
        padding-left: var(--base-size-16);
        padding-top: 0;
    }
    @media (min-width: 1280px) {
        padding-left: var(--base-size-40);
    }
}

.title {
    text-transform: uppercase;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--base-size-20);
    list-style: none;
    margin: 0;
    padding: 0;
}