[data-color-mode=light][data-light-theme*=dark],
[data-color-mode=dark][data-dark-theme*=dark] {
    --color-mktg-btn-shadow-outline: #ffffff40 0 0 0 1px inset;
    --color-mktg-btn-bg: #f6f8fa;
    --color-mktg-btn-shadow-focus: #ffffff40 0 0 0 4px;
    --color-mktg-btn-shadow-hover: 0 4px 7px #00000026, 0 100px 80px #ffffff05, 0 42px 33px #ffffff06, 0 22px 18px #ffffff07, 0 12px 10px #ffffff09, 0 7px 5px #ffffff0a, 0 3px 2px #ffffff12;
    --color-mktg-btn-shadow-hover-muted: #fff 0 0 0 2px inset
}

@media (prefers-color-scheme:light) {
    [data-color-mode=auto][data-light-theme*=dark] {
        --color-mktg-btn-shadow-outline: #ffffff40 0 0 0 1px inset;
        --color-mktg-btn-bg: #f6f8fa;
        --color-mktg-btn-shadow-focus: #ffffff40 0 0 0 4px;
        --color-mktg-btn-shadow-hover: 0 4px 7px #00000026, 0 100px 80px #ffffff05, 0 42px 33px #ffffff06, 0 22px 18px #ffffff07, 0 12px 10px #ffffff09, 0 7px 5px #ffffff0a, 0 3px 2px #ffffff12;
        --color-mktg-btn-shadow-hover-muted: #fff 0 0 0 2px inset
    }
}

@media (prefers-color-scheme:dark) {
    [data-color-mode=auto][data-dark-theme*=dark] {
        --color-mktg-btn-shadow-outline: #ffffff40 0 0 0 1px inset;
        --color-mktg-btn-bg: #f6f8fa;
        --color-mktg-btn-shadow-focus: #ffffff40 0 0 0 4px;
        --color-mktg-btn-shadow-hover: 0 4px 7px #00000026, 0 100px 80px #ffffff05, 0 42px 33px #ffffff06, 0 22px 18px #ffffff07, 0 12px 10px #ffffff09, 0 7px 5px #ffffff0a, 0 3px 2px #ffffff12;
        --color-mktg-btn-shadow-hover-muted: #fff 0 0 0 2px inset
    }
}

:root,
[data-color-mode=light][data-light-theme*=light],
[data-color-mode=dark][data-dark-theme*=light] {
    --color-mktg-btn-shadow-outline: #00000026 0 0 0 1px inset;
    --color-mktg-btn-bg: #1b1f23;
    --color-mktg-btn-shadow-focus: #00000026 0 0 0 4px;
    --color-mktg-btn-shadow-hover: 0 3px 2px #00000012, 0 7px 5px #0000000a, 0 12px 10px #00000008, 0 22px 18px #00000008, 0 42px 33px #00000005, 0 100px 80px #00000005;
    --color-mktg-btn-shadow-hover-muted: #000000b3 0 0 0 2px inset
}

@media (prefers-color-scheme:light) {
    [data-color-mode=auto][data-light-theme*=light] {
        --color-mktg-btn-shadow-outline: #00000026 0 0 0 1px inset;
        --color-mktg-btn-bg: #1b1f23;
        --color-mktg-btn-shadow-focus: #00000026 0 0 0 4px;
        --color-mktg-btn-shadow-hover: 0 3px 2px #00000012, 0 7px 5px #0000000a, 0 12px 10px #00000008, 0 22px 18px #00000008, 0 42px 33px #00000005, 0 100px 80px #00000005;
        --color-mktg-btn-shadow-hover-muted: #000000b3 0 0 0 2px inset
    }
}

@media (prefers-color-scheme:dark) {
    [data-color-mode=auto][data-dark-theme*=light] {
        --color-mktg-btn-shadow-outline: #00000026 0 0 0 1px inset;
        --color-mktg-btn-bg: #1b1f23;
        --color-mktg-btn-shadow-focus: #00000026 0 0 0 4px;
        --color-mktg-btn-shadow-hover: 0 3px 2px #00000012, 0 7px 5px #0000000a, 0 12px 10px #00000008, 0 22px 18px #00000008, 0 42px 33px #00000005, 0 100px 80px #00000005;
        --color-mktg-btn-shadow-hover-muted: #000000b3 0 0 0 2px inset
    }
}

.exploregrid-item {
    height: 100%;
    padding-top: var(--base-size-24);
    padding-bottom: var(--base-size-64);
    font-size: var(--text-body-size-medium);
    color: #555;
    border: var(--borderWidth-thin) solid #00000013;
    border-radius: var(--borderRadius-small);
    border-bottom-color: #00000020;
    flex: 1;
    transition: border-color .1s ease-in-out, box-shadow .1s ease-in-out;
    display: block;
    position: relative;
    box-shadow: 0 1px 2px #0000000d, 0 5px 10px #0000000d
}

.exploregrid-item:hover {
    border-color: #0000001a #0000001a #00000026;
    text-decoration: none;
    box-shadow: 0 1px 3px #0000000d, 0 8px 15px #0000001a
}

.exploregrid-item:hover .exploregrid-item-title {
    color: var(--fgColor-accent, var(--color-accent-fg))
}

.exploregrid-item:hover .exploregrid-item-header {
    opacity: 1
}

.exploregrid-item-mini .exploregrid-item-header {
    height: 10px
}

.exploregrid-item-mini .exploregrid-item-title {
    font-size: var(--text-title-size-small)
}

.exploregrid-item-header {
    border: var(--borderWidth-thin) solid #0000001a;
    border-top-left-radius: var(--borderRadius-small);
    border-top-right-radius: var(--borderRadius-small);
    opacity: .8;
    background-color: #f5f5f5;
    width: 100%;
    height: 18px;
    transition: opacity .1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0
}

.exploregrid-item-title {
    font-size: var(--text-title-size-medium);
    font-weight: var(--base-text-weight-normal);
    color: var(--fgColor-default, var(--color-fg-default));
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1.2
}

/*# sourceMappingURL=explore-eb0b916b73aaa7c1-4487788495b7f728.css.map*/