@custom-media --viewportRange-landscape (orientation: landscape);
@custom-media --viewportRange-narrow (max-width: calc(48rem - 0.02px));
@custom-media --viewportRange-narrowLandscape ((max-width: calc(63.25rem - 0.02px)) and (max-height: calc(34rem - 0.02px)) and (orientation: landscape));
@custom-media --viewportRange-portrait (orientation: portrait);
@custom-media --viewportRange-regular (min-width: 48rem);
@custom-media --viewportRange-wide (min-width: 87.5rem);
.ControlGroupContainer {
    --controlgroup_item-gap: var(--base-size-12);
    border-radius: var(--borderRadius-medium);
    background-color: var(--bgColor-default);
    border: var(--borderWidth-thin) solid transparent;
}

.fullWidth {
    --controlgroup_item-gap: var(--base-size-24);
}

.spacious {
    --controlgroup_item-gap: var(--base-size-16);
}

.border {
    border-color: var(--borderColor-muted);
}