@custom-media --viewportRange-landscape (orientation: landscape);
@custom-media --viewportRange-narrow (max-width: calc(48rem - 0.02px));
@custom-media --viewportRange-narrowLandscape ((max-width: calc(63.25rem - 0.02px)) and (max-height: calc(34rem - 0.02px)) and (orientation: landscape));
@custom-media --viewportRange-portrait (orientation: portrait);
@custom-media --viewportRange-regular (min-width: 48rem);
@custom-media --viewportRange-wide (min-width: 87.5rem);
.PerformancePaneButton {
    position: absolute;
    right: var(--base-size-32);
    /* stylelint-disable-next-line primer/spacing */
    top: 110px;
}

.PerformancePaneOverlay {
    z-index: 9999;
}

.PerformancePaneBox {
    padding: var(--base-size-24);
    height: 100vh;
    overflow-x: auto;
    width: fit-content;
}

.PerformancePaneHeaderContainer {
    display: flex;
    flex-direction: row;
    gap: var(--stack-gap-condensed);
    align-items: center;
    margin-bottom: var(--base-size-4);
}

.PerformancePaneHeading {
    font-size: var(--text-body-size-medium);
}

.PerformancePaneControlsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--stack-gap-condensed);
    margin-left: auto;
}

.PerformancePaneTextInput {
    width: 120px;
    margin-top: 0;
}

.PerformancePaneFormControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--base-size-8);
}

.PerformancePaneFormControlLabel {
    margin: 0;
    font-size: var(--text-body-size-small);
    white-space: nowrap;
    align-self: inherit;
}

.PerformancePaneSortButton {
    width: 110px;
}

.PerformancePaneActionMenuText {
    font-weight: var(--base-text-weight-semibold);
    padding-left: var(--base-size-16);
}

.PerformancePaneActionMenuItemBox {
    display: flex;
    align-items: center;
}

.PerformancePaneActionMenuTextFlex {
    font-weight: var(--base-text-weight-semibold);
    padding-left: var(--base-size-16);
    flex: 1;
}

.PerformancePaneTreeContainer {
    overflow: auto;
    height: 100%;
    margin-top: var(--base-size-16);
    overflow-x: auto;
}

.PerformancePaneTreeNav {
    /* Disabling because it is within the API insights dialog and everything needs to fit there */
    /* stylelint-disable-next-line primer/responsive-widths */
    min-width: 600px;
}